body {
  font-family: Arial, sans-serif;
  text-align: center;
  height: 100%;
  
}

h1 {
  font-size: 24px;
  
}
h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.choices {
  display: flex;
  justify-content: center;
}

.choice {
  margin: 10px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

#resultText {
  font-size: 20px;
  font-weight: bold;
}

#scoreText {
  font-size: 16px;
}


.imgbox {
  display: flex;
  justify-content: space-around;
  padding: 0 70px;
}

.vs{
  padding-top: 36px;
}
.text1 {
  font-weight: bold;
  font-size: 40px;
  font-family: fantasy;
}

.text2 {
  font-size: 40px;
  font-weight: bold;
  font-family: fantasy;
}

.chan {
  background-color: rgba(128, 58, 193, 0.133);
  padding-bottom: 70px;
  
  
}

#computerChoice {
  margin: 5px 10px;
  padding-bottom: 2px;
  padding-top: 2px;
}
