body {
  font-family: Arial, sans-serif;
  text-align: center;
  height: 100%;
  
}

h1 {
  font-size: 24px;
  
  
}
h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.choices {
  display: flex;
  justify-content: center;
  
}

.choice {
  margin: 10px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  background-color: rgba(218, 165, 32, 0.15);
  color: rgb(120, 107, 38);
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
}
.choice:hover {
  background-color: rgba(164, 144, 29, 0.499);
}

#resultText {
  font-size: 20px;
  font-weight: bold;
}

#scoreText {
  font-size: 16px;
}


.imgbox {
  display: flex;
  justify-content: space-around;
  padding: 0 70px;
}

.vs{
  padding-top: 36px;
}
.text1 {
  font-weight: bold;
  font-size: 40px;
  font-family: fantasy;
}

.text2 {
  font-size: 40px;
  font-weight: bold;
  font-family: fantasy;
}

.chan {
  background-color: rgba(128, 58, 193, 0.133);
  padding-bottom: 70px;
  
  
}

#computerChoice {
  margin: 5px 10px;
  padding-bottom: 2px;
  padding-top: 2px;
}

.yaya {
  margin: 40px 20px;
  width: 160px;
  height: 50px;
  color: rgba(57, 79, 120, 0.999);
  background-color: rgba(255, 127, 80, 0.939);
  font-weight: 1000;

}
.yaya:hover {
  background-color: rgba(203, 203, 77, 0.696);
}

.rara {
  margin: 40px 20px;
  width: 160px;
  height: 50px;
  color: rgba(57, 79, 120, 0.999);
  background-color: rgba(255, 80, 235, 0.242);
  font-weight: 1000;
}
.rara:hover {
  background-color: rgba(203, 77, 167, 0.356);
}

p {
  margin: 9px;
  font-family: 'Times New Roman', Times, serif;
}